<%- include('../partials/header') %> 

<div class="container" style="margin-top: 20px;">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Yelpcamp !!</h1>
            <p>See our handpicked places from all over the world </p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Click to add new campground</a>
            </p>
        </div>
    </header>
    
    
    <div class="row text-center">
        <% campgrounds.forEach(function(camp){%>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="img-thumbnail" style="margin: 10px auto;">
                    <img src="<%= camp.image %> " width="100%" height="100%">
                    <div class="img-caption">
                        <h4><%= camp.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>   
            </div>
        <% }); %>
    </div>

    

</div>


<%- include('../partials/footer') %> 
